body{
    margin: 0;
    padding: 0;
    background: url();
    background-size: cover;
}   
.first
{
    background-color: #000;
    color: #fff;
    text-align: center;
  font-weight: bold;
  font-size:large;
  margin-bottom: 20px;
}


.loginbox{
    width: 550px;
    height: 450;
    background: #000;
    color : #fff;
    top: 53%;
    left:80%;
    bottom: 50%;

    position:absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;

}
.container{
    text-align: center;
   font-size: 20px;
   
}
h1{
    margin:0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 25px;

}
.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;


}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginbox  [type ="text"] , [type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 15px;

}
.loginbox  [type="submit"] {
    border: none;
    background: #000
    height: 40px;
    outline: none;
    color: #navy;
    font-size: 18px;
}

    