body{
    margin: 0;
    padding: 0;
    background: url(regist.jpg);
    background-size: cover;
}   
.loginbox{
    width: 350px;
    height: 430;
    background: #000;
    color : #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;

}
h1{
    margin:0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 25px;

}
.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;


}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginbox  [type ="text"] , [type="password"] , [type="mail"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 15px;

}
.loginbox  [type="submit"] {
    border: none;
    background: #000
    height: 40px;
    outline: none;
    color: #navy;
    font-size: 18px;
}